<form class="form" [formGroup]="form">
  <!-- Name field -->
  <div class="form-field" required>
    <label for="name" class="form-field-label">Name</label>
    <input
      #nameInput
      id="name"
      name="name"
      [formControl]="form.controls.name"
      type="text"
      class="text-input"
      placeholder="John Doe"
      aria-required="true"
      [attr.aria-invalid]="shouldShowError(form.controls.name)"
      aria-describedby="name-invalid-message"
      (keyup.enter)="focusField(1)"
    />
    <p
      *ngIf="shouldShowError(form.controls.name)"
      id="name-invalid-message"
      class="invalid-message"
    >
      {{ getErrorMessage(form.controls.name) }}
    </p>
  </div>

  <!-- Email field -->
  <div class="form-field" required>
    <label for="email" class="form-field-label">Email</label>
    <input
      #emailInput
      id="email"
      name="email"
      [formControl]="form.controls.email"
      type="text"
      class="text-input"
      placeholder="your@email.com"
      aria-required="true"
      [attr.aria-invalid]="shouldShowError(form.controls.email)"
      aria-describedby="email-invalid-message"
      (keyup.enter)="focusField(2)"
    />
    <p
      *ngIf="shouldShowError(form.controls.email)"
      id="email-invalid-message"
      class="invalid-message"
    >
      {{ getErrorMessage(form.controls.email) }}
    </p>
  </div>

  <!-- Website field -->
  <div class="form-field">
    <label for="website" class="form-field-label">Website</label>
    <input
      #websiteInput
      id="website"
      name="website"
      [formControl]="form.controls.website"
      type="text"
      class="text-input"
      placeholder="www.yourwebsite.com"
      aria-required="true"
      [attr.aria-invalid]="shouldShowError(form.controls.website)"
      aria-describedby="website-invalid-message"
      (keyup.enter)="focusSubmitButton()"
    />
    <p
      *ngIf="shouldShowError(form.controls.website)"
      id="website-invalid-message"
      class="invalid-message"
    >
      {{ getErrorMessage(form.controls.website) }}
    </p>
  </div>

  <!-- Submit button -->
  <button
    #submitButton
    aria-label="Submit form"
    type="button"
    class="submit-button"
    (click)="submitHandler()"
  >
    Save
  </button>
</form>
