<!-- <accessibily-presentation-example-buttons></accessibily-presentation-example-buttons> -->
<!-- <accessibily-presentation-example-modal></accessibily-presentation-example-modal> -->
<accessibily-presentation-example-navigation></accessibily-presentation-example-navigation>

<!-- Example navigation -->
<div class="example-navigation-buttons">
  <button class="example-navigation-buttons_button previous">Previous</button>
  <button class="example-navigation-buttons_button next">Next</button>
</div>
