<accessibily-presentation-example-buttons
  *ngIf="currentExample === 0"
></accessibily-presentation-example-buttons>
<accessibily-presentation-example-modal
  *ngIf="currentExample === 1"
></accessibily-presentation-example-modal>
<accessibily-presentation-example-text-input
  *ngIf="currentExample === 2"
></accessibily-presentation-example-text-input>

<!-- Example navigation -->
<div class="example-navigation-buttons">
  <button
    *ngIf="!isFirstExample()"
    class="example-navigation-buttons_button previous"
    (click)="previousExample()"
  >
    Previous
  </button>
  <button
    *ngIf="!isLastExample()"
    class="example-navigation-buttons_button next"
    (click)="nextExample()"
  >
    Next
  </button>
</div>
