<h3 class="headline">
  Navigation list & menu with <em class="wrong">bad accessibility:</em>
</h3>
<nav>
  <ul>
    <li>Home</li>
  </ul>
</nav>
<h3 class="headline">
  Navigation list & menu with <em class="correct">good accessibility:</em>
</h3>
<nav aria-label="Main" class="navigation">
  <ul class="navigation-list">
    <li>
      <a href="#" class="navigation-list-item">Home</a>
    </li>
    <li>
      <a href="#" class="navigation-list-item">Our Services</a>
    </li>
    <li><a href="#" class="navigation-list-item">Contact us</a></li>
    <li><a href="www.wikipedia.org" class="navigation-list-item">Wiki</a></li>
    <li>
      <button class="navigation-menu-button" aria-label="Open navigation menu">
        <img
          class="navigation-menu-button_icon"
          aria-hidden="true"
          src="/assets/icons/menu.svg"
          height="16px"
          width="16px"
        />
      </button>
    </li>
  </ul>
</nav>
