:host {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .open-form-buttons {
    display: flex;
    gap: 8px;

    .open-form-button {
      padding: 16px;

      display: flex;
      align-items: center;
      gap: 8px;

      background-color: #002088;
      border-radius: 4px;

      font-size: 1.25rem;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }

      &.awful {
        background-color: #d30000;
      }
      &.bad {
        background-color: #d33c00;
      }
      &.good {
        background-color: #009400;
      }
    }
  }
}
