<form class="form" [formGroup]="form">
  <div class="form-field">
    <label for="name" class="form-field-label">Name</label>
    <input
      #nameInput
      id="name"
      name="name"
      [formControl]="form.controls.name"
      type="text"
      class="text-input"
      placeholder="John Doe"
      (keydown.enter)="focusEmailInput()"
    />
  </div>
  <div class="form-field">
    <label for="email" class="form-field-label">Email</label>
    <input
      #emailInput
      id="email"
      name="email"
      [formControl]="form.controls.email"
      type="text"
      class="text-input"
      placeholder="your@email.com"
    />
  </div>
  <button
    aria-label="Submit form"
    class="submit-button"
    (click)="submitHandler()"
  >
    Save
  </button>
</form>
